@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #353b55;
    --secondary: #525979;
    /* --blue: #457b9d; */
}

body {
    background-color: #457b9d16;
    background-size: 100%;
    min-height: 100vh;
}

/* Loading page */
.loader {
    width: 80px;
    height: 80px;
    --c: linear-gradient(var(--primary) 0 0);
    --m: radial-gradient(farthest-side, var(--primary) 92%, #0000);
    background:
        var(--m) center /24px 24px,
        var(--c) left 50% top -40px/16px 32px,
        var(--c) left 50% bottom -40px/16px 32px,
        var(--c) top 50% left -40px/32px 16px,
        var(--c) top 50% right -40px/32px 16px;
    background-repeat: no-repeat;
    animation:
        db8-1 1.5s infinite,
        db8-2 1.5s infinite;
}

@keyframes db8-1 {

    30%,
    70% {
        background-position:
            center,
            left 50% top calc(50% - 16px),
            left 50% bottom calc(50% - 16px),
            top 50% left calc(50% - 16px),
            top 50% right calc(50% - 16px)
    }
}

@keyframes db8-2 {

    0%,
    40% {
        transform: rotate(0)
    }

    60%,
    100% {
        transform: rotate(90deg)
    }
}


.comfortaa {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;

    /*300-700*/
    font-weight: 500;
    font-style: normal;
}


/* AnimationTitle */
@keyframes animationTitle {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}